<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Forum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>

                {% if user %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('user_logout_web') }}">Log Out</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Posts
                    </a>

                    {% if not user.verified %}

                    <ul class="dropdown-menu">
                        <li><a class="nav-link disabled ms-2" aria-disabled="true" href="#">Add post</a></li>
                        <li><a class="nav-link disabled ms-2" aria-disabled="true" href="#">View my posts</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('verify_account_web') }}">Verify account</a></li>
                    </ul>

                    {% endif %}

                    {% if user.verified %}

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('add_post_web') }}">Add post</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('view_my_posts') }}">View my posts</a></li>
                    </ul>

                    {% endif %}
                    {% endif %}
                    {% if not user %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('user_login_web') }}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('web_register') }}">Sign Up</a>
                </li>
                    {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="{{ url_for('index') }}" method="post">
                <input class="form-control me-2" name='search' type="search" placeholder="Search by category" aria-label="Search by category">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="container">
{% block content %}
{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>