{% extends 'base.html' %}

{% block content %}
<div class="errors">
    <ul class="list-group">
        {% for error in errors %}
        <li class="list-group-item">{{ error }}</li>
        {% endfor %}
    </ul>
</div>


{% if user %}
<form method="post" enctype="multipart/form-data">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" placeholder="name@example.com" required
               value="{{user.name}}" >
        <label for="name" class="form-label">Name</label>
    </div>
    <span>If you change your email you need to verify it again</span>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required
        value="{{user.email}}">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="name@example.com"
               minlength="8" required>
        <label for="password" class="form-label">Password to confirm</label>
    </div>
    <span>Notice: Image URL will be used even when there is an image file</span>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="image_url" name="image_url" value="{{user.image_url}}"
               placeholder="name@example.com">
        <label for="image_url" class="form-label">Profile image URL</label>
    </div>
    <div class="form-floating mb-3">
        <input type="file" class="form-control" id="image_file" name="image_file"
               placeholder="name@example.com">
        <label for="image_file" class="form-label">Image File</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    {% else %}
<form method="post" enctype="multipart/form-data">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name1" name="name" placeholder="name@example.com" required
               value="{{name}}" >
        <label for="name" class="form-label">Name</label>
    </div>
    <span>If you change your email you need to verify it again</span>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email1" name="email" placeholder="name@example.com" required
        value="{{email}}">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password1" name="password" placeholder="name@example.com"
               minlength="8" required>
        <label for="password" class="form-label">Password to confirm</label>
    </div>
    <span>Notice: Image URL will be used even when there is an image file</span>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="image_url1" name="image_url" value="{{mage_url}}"
               placeholder="name@example.com">
        <label for="image_url" class="form-label">Profile image URL</label>
    </div>
    <div class="form-floating mb-3">
        <input type="file" class="form-control" id="image_file1" name="image_file"
               placeholder="name@example.com">
        <label for="image_file" class="form-label">Image File</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}
{% endblock %}