{% extends 'base.html' %}


{% block content %}

<div class="errors">
    <ul class="list-group">
        {% for error in errors %}
        <li class="list-group-item">{{ error }}</li>
        {% endfor %}
    </ul>
</div>


<form method="post" action="{{ url_for('create_new_password', user_uuid=user_uuid) }}">
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="name@example.com"
               minlength="8" required>
        <label for="password" class="form-label">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="name@example.com"
               minlength="8" required>
        <label for="password" class="form-label">Confirm password</label>
    </div>
    <span>After successfully resetting password, you will be redirected to log in page</span>
    <button type="submit" class="btn btn-primary">Create new password</button>
</form>

{% endblock %}