{% extends 'base.html' %}


{% block content %}
{% if incorrect_email %}
<h5>The entered email is not in our database</h5>
{% endif %}
<form method="post" action="{{ url_for('reset_password') }}">

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required
               value="{{email}}">
        <label for="email">Email address</label>
    </div>
    <span>After entering email, you will be redirected to the home page and we will send you an email</span>
    <button type="submit" class="btn btn-primary">Send password reset</button>
</form>
{% endblock %}